<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/404.css" />
    <title>404 Not Found</title>
  </head>

  <body>
    <div class="container">
      <div class="left">
        <div class="bg-image">
          <img src="../images/google.png" alt="google" />
        </div>
        <p>
          <span style="font-weight: bold; font-size: 1.35rem">404.</span>
          <span style="color: gray">That's an error.</span>
        </p>
        <p>
          The request URL was not found on this server.<br />- Be sure the URL
          you entered is correct or in correct form.<br />- Check spelling
          errors.<br /><span style="color: gray">That's all we know</span>
        </p>
      </div>
      <div class="right">
        <div class="img-container">
          <img src="../images/robot.png" alt="robot" />
        </div>
      </div>
    </div>
  </body>
</html>
