.courses-container {
	width: 100%;
}

.sub-courses-container {
	padding: 0 20%;
	display: flex;
	align-items: center;
	column-gap: 1.5rem;
}

.courses-left {
	flex-basis: 50%;
	overflow: hidden;
}

.courses-right {
	flex-basis: 50%;
}

.courses-left>img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}
